# Data Structures

In this LAB we will practice Tuples, Sets and Dictionary.  
If you need you can find an extra tutorial on the links below:
* Tuples [Python Tuples Examples and Methods ](https://www.w3schools.com/python/python_tuples.asp)
* Sets [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)
* Dictionaries [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)

-----------------------------------

## Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [18]:
# Your code here
tup = ('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [19]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [14]:
# Your code here
elements = ['r','o','n','h','a','c','k']

for x in elements:
    tup.append(x)

tup

#Tuples are immutable. Any operation that tries to modify it (like append) 
#is not allowed. The values inside of a tuple cannot be overwritten (or mutated) 
#once the tuple is defined. To append these elements to a the tuple, we can convert 
#the tuple in a list, operate, and after that convert the list to a tuple again.

AttributeError: 'tuple' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [26]:
# Your code here
tup = list(tup)

for x in elements:
    if x not in tup:
        tup.append(x)

tup = tuple(tup)
tup

#Now the tup variable is a reference to a new tuple with the same name 
#as the one we first created but holding different information. 
#We didn't change the variable tup as tuples are not mutable. 
#Instead, we created a new variable tup.

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [33]:
# Your code here
tup1 = tup[:4]
tup2 = tup[-4:]

print(tup1,tup2)

('I', 'r', 'o', 'n') ('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [34]:
# Your code here
tup3 = tup1 + tup2
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [36]:
# Your code here
elements_tup1 = len(tup1)
elements_tup2 = len(tup2)
elements_tup3 = len(tup3)

if elements_tup1 + elements_tup2 == elements_tup3:
    print('The amount of elements is the same')
else:
    print('The amount of elements is different')

The amount of elements is the same

#### What is the index number of `"h"` in `tup3`?

In [37]:
# Your code here
tup3.index('h')

4

-----------------------------------

## Sets

#### First, import the Python `random` library.

In [38]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [51]:
#Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[63, 93, 78, 67, 90, 69, 42, 31, 54, 22, 55, 43, 48, 56, 40, 17, 94, 11, 38, 51, 61, 15, 10, 25, 82, 46, 79, 7, 41, 18, 98, 27, 0, 87, 32, 26, 57, 72, 12, 80, 29, 62, 16, 75, 77, 52, 68, 91, 96, 36, 59, 83, 34, 92, 71, 66, 4, 21, 58, 85, 1, 95, 84, 64, 45, 14, 30, 89, 74, 37, 28, 39, 53, 5, 8, 23, 2, 73, 49, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [127]:
#Your code here
set1 = set(sample_list_1)

if len(set1) == 80:
    print('The length is still 80')
else:
    print('The length is not 80 anymore')

The length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [128]:
#Your code here
sample_list_2 = []

for y in range(80):
    sample_list_2.append(random.randrange(100))

print(sample_list_2)

[10, 88, 55, 27, 16, 5, 82, 36, 39, 64, 1, 61, 83, 72, 2, 37, 74, 66, 7, 61, 16, 41, 81, 61, 75, 26, 64, 70, 8, 99, 55, 44, 1, 7, 92, 29, 21, 42, 37, 87, 34, 32, 31, 17, 99, 49, 53, 74, 46, 21, 29, 79, 21, 31, 30, 95, 64, 63, 93, 38, 55, 51, 8, 67, 83, 87, 2, 59, 52, 26, 66, 83, 59, 83, 36, 61, 0, 18, 11, 10]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [116]:
#Your code here
set2 = set(sample_list_2)

if len(set2) == 80:
    print('The length is still 80')
else:
    print('The length is not 80 anymore')

The length is not 80 anymore

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [117]:
#Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 4, 8, 10, 11, 12, 16, 17, 22, 23, 25, 27, 29, 32, 36, 38, 39, 40, 42, 43, 45, 51, 53, 55, 57, 58, 62, 64, 67, 68, 72, 73, 74, 90, 92, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [118]:
#Your code here
set4 = set2.difference(set1)
print(set4)

{33, 97, 35, 99, 6, 70, 44, 81, 19, 86}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [119]:
#Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 5, 7, 14, 15, 18, 21, 26, 28, 30, 31, 34, 37, 41, 46, 48, 49, 52, 54, 56, 59, 61, 63, 66, 69, 71, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 91, 93, 94, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [100]:
#Your code here

<built-in method values of dict object at 0x0000025FB7102680>

#### Create an empty set called `set6`.

In [139]:
#Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [142]:
#Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 5, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [122]:
#Your code here
if len(set1.difference(set6)) > 0:
    print("set1 and set6 aren't equal")
else:
    print("set1 and set6 are equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [123]:
#Your code here
if set2.issubset(set1) is True:
    print(f'set1 contains set2')
else:
    print(f'set1 does not contain set2')
    
if set1.issubset(set2) is True:
    print(f'set2 contains set1')
else:
    print(f'set2 does not contain set1')

set1 does not contain set2
set2 does not contain set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [124]:
#Your code here
set7 = set3.union(set4).union(set5)
set8 = set1.union(set2)

if len(set7.difference(set8)) > 0:
    print("The aggregated values aren't equal")
else:
    print("The aggregated values are equal")

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [129]:
#Your code here
set1.pop()
print(set1)

{1, 2, 4, 5, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
```

In [131]:
#Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]

for remove in list_to_remove:
    if remove in set1:
        set1.remove(remove)
print(set1)

{2, 4, 5, 7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 25, 26, 27, 28, 30, 32, 34, 36, 37, 38, 40, 42, 43, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 98}

-----------------------------------

## Dictionaries

#### Now let's practice the dictionaries!  
We have this dictionary with itens to shopping in grocery.

In [143]:
grocery = {'bread':3, 'rice':2, 'cereals':4, 'eggs':12}

#### What are the `keys` of our grocery dictionary

In [144]:
#your code here
grocery.keys()

dict_keys(['bread', 'rice', 'cereals', 'eggs'])

#### What are the `values` of our grocery dictionary

In [145]:
#your code here
grocery.values()

dict_values([3, 2, 4, 12])

#### Get the value from the key `bread`

In [146]:
#your code here
grocery['bread']

3

#### Now try to create a `new dictionary` based on the table below. The names are the keys and the phone number are the values.

| Name (keys) | Phone Number (values) |
| --- | --- | 
| Valentina | 803-5114  |
| Tyler | 805-5120  |
| Camila | 805-1278 |
| James | 805-3450 |

In [152]:
#your code here
new_dict = {'Valentina':'803-5114',
            'Tyler':'805-5120',
            'Camila':'805-1278',
            'James':'805-3450'   
}
new_dict

{'Valentina': '803-5114',
 'Tyler': '805-5120',
 'Camila': '805-1278',
 'James': '805-3450'}

#### `Add this new person` to your phone dictionary:   
Manoel | 803-8080

In [156]:
#your code here
new_dict['Manoel'] = '803-8080'
new_dict

{'Valentina': '803-5114',
 'Tyler': '805-5120',
 'Camila': '805-1278',
 'James': '805-3450',
 'Manoel': '803-8080'}

#### Create a `list` with the phone numbers

In [155]:
#your code here
phones = list(new_dict.values())
phones

['803-5114', '805-5120', '805-1278', '805-3450', '803-8080']

###  Bonus dictionary

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in sort method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song Shape of You. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [157]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [163]:
#your code here
word_list = list(word_freq.keys())
word_list.sort()

word_freq2 = {}

for keys in word_list:
    word_freq2[keys] = word_freq[keys]
    
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}